<app-toolbar></app-toolbar>
<p class="h4 heading">LIST OF SMART METER TO BE APPROVED</p>
<div class="center">
    <table class="table mt-3">
        <thead class="table-thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Smart Meter ID</th>
                <th scope="col">User name</th>
                <th scope="col">Provider Name</th>
                <th scope="col">Approve</th>
                <th scope="col">Reject</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let smartMeter of smartMeterList; index as idx">
                <th scope="row">{{idx + 1}}</th>
                <td>{{smartMeter.smartMeterId}}</td>
                <td>{{smartMeter.userName}}</td>
                <td>{{smartMeter.providerName}}</td>
                <td><button mat-mini-fab color="success" (click)="approveSmartMeter(smartMeter)" #approveButton><mat-icon>done</mat-icon></button></td>
                <td><button mat-mini-fab color="warn" (click)="rejectSmartMeter(smartMeter)"><mat-icon>clear</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
</div>