.mat-success {
    background-color: green;
    color: white;
}

.center {
    margin-right: 200px;
    margin-left: 200px;
}

.table {
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.heading {
    margin-bottom: 60px;
    text-align: center;
}

.pagination {
    position: relative;
    top: 20px;
    justify-content: center;
    color: black;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #3F51B5 !important;
    color: black;
    cursor: default;
}