<app-toolbar></app-toolbar>
<div class="heading">
    <button id="create-provider-button" class="btn btn-dark" (click)="createProvider()">Create New Provider</button>
    <p class="h4">PROVIDERS</p>
</div>
<div class="center">
    <table class="table table-hover">
        <thead class="table-thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Provider Name</th>
                <th scope="col">Rate / watt</th>
                <th scope="col">Is Enabled</th>
                <th scope="col">Smart Meter list</th>
                <th scope="col">Enable / Disable</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of providers | paginate: {itemsPerPage: count, currentPage: page}; index as idx">
                <th scope="row">{{idx + 1}}</th>
                <td>{{provider.providerName}}</td>
                <td>{{provider.ratePerWatt}}</td>
                <td>{{provider.enabled ? 'Enabled': 'Disabled'}}</td>
                <td><button mat-raised-button (click)="showUsersList(provider)">...</button></td>
                <td><button mat-raised-button [color]="provider.enabled ? 'warn': 'success'" (click)="enableOrDisableProvider(provider)">{{provider.enabled ?
                        'Disable': 'Enable'}}</button></td>
            </tr>
        </tbody>
    </table> <br>
    <div class="pagination">
        <pagination-controls (pageChange)="page=$event"></pagination-controls>
    </div>
    <div class="alert alert-danger mt-3" *ngIf="isLastProviderEnabled" role="alert">
        <p class="h5"><b>Can't disable provider</b></p>
        <p>This is the only enabled provider available.</p>
        <hr>
        <p class="mb-0">Try creating another provider or enable another provider and disable it</p>
    </div>
</div>
<div class="alert alert-danger" *ngIf="createProviderCancelButtonClicked" role="alert" #alert>
    No provider created
</div>