.mat-success {
    background-color: green;
    color: white;
}

.center {
    margin-right: 200px;
    margin-left: 200px;
}

.table {
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.heading {
    margin-bottom: 50px;
    text-align: center;
}

#create-provider-button {
    position: relative;
    left: 300px;
    top: 30px;
}

.alert {
    width: 300px;
    margin-left: 530px;
}

.alert {
    width: 300px;
    position: absolute;
    top: 550px;
    left: 250px;
}