.example-spacer {
    flex: 1 1 auto;
}

.toolbar {
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Spectral, serif;
    background-color: white;
    text-shadow: 3px 3px 3px #ababab;
}

.icon-buttons {
    margin-left: 20px;
}

#account-menu-button {
    border-radius: 15px;
}