<h1 mat-dialog-title>Create New Provider</h1>
<div mat-dialog-content>
    <form [formGroup]="createProviderForm">
        <mat-form-field>
            <mat-label>Providers Name</mat-label>
            <input matInput formControlName="providerName" type="text">
            <mat-error>Provider name is required</mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>Rate Per Watt</mat-label>
            <input matInput formControlName="ratePerWatt" name="rate-per-watt" type="text">
            <mat-error>Rate/Watt is required</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelDialog()">cancel</button>
    <button mat-button [mat-dialog-close]="createProviderForm.value" [disabled]="!createProviderForm.valid">create</button>
</div>