<h1 mat-dialog-title>Heyyyy</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Providers Name</mat-label>
        <input matInput [(ngModel)]="newProvider.providerName" name="provider-name" type="text">
    </mat-form-field> <br>
    <mat-form-field>
        <mat-label>Rate Per Watt</mat-label>
        <input matInput [(ngModel)]="newProvider.ratePerWatt" name="rate-per-watt" type="text">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelDialog()">Cancel</button>
    <button mat-button [mat-dialog-close]="newProvider">Ok</button>
</div>