<app-toolbar></app-toolbar>
<p class="h6 heading mb-4">LIST OF SMART METERS</p>
<div class="main-container">
    <mat-card class="card">
        <div class="create-smart-meter">
            <button  mat-mini-fab (click)="createSmartMeter()" color="dark"><mat-icon>add</mat-icon></button> <br>
            <p class="h6" id="create-smart-meter-text">CREATE SMART METER</p>
        </div>
    </mat-card>
    <mat-card class="card" *ngFor="let smartMeter of smartMeters">
        <mat-card-header>
            <!-- <mat-card-title>{{smartMeter.smartMeterId}}</mat-card-title> -->
            <p>{{smartMeter.smartMeterId}}</p>
        </mat-card-header>
        <!-- <div style="height: 40px">
            <p id="smart-meter-id">{{smartMeter.smartMeterId}}</p>
        </div> --> <br>
        <p><b>PROVIDER NAME :</b>&emsp;{{smartMeter.providerName}}</p>
        <p><b>STATUS :</b>&emsp;{{smartMeter.smartMeterStatus}}</p>
        <p><b>CREATED TIME (in epoch) :</b>&emsp;{{smartMeter.epochTime}}</p>
        <p><b>CREATED DATE AND TIME :</b>&emsp;{{smartMeter.date}}</p> <br>
        <div class="readings-button">
            <span><i>View Readings &emsp;</i></span>
            <button color="none" mat-mini-fab (click)="redirectToViewReadingsPage(smartMeter.smartMeterId)"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
        <!-- <p><b>LATEST READINGS :</b>&emsp;{{smartMeter.readings}}</p> -->
    </mat-card>
</div>