<app-toolbar></app-toolbar>
<p class="h6 heading mb-4">LIST OF SMART METERS</p>
<button class="btn btn-dark" (click)="createSmartMeter()">Create new smart meter</button>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Provider Name</mat-card-title>
        <mat-card-subtitle>provider rate per watt</mat-card-subtitle>
    </mat-card-header>
    <div style="height: 60px">
        <p id="smart-meter-id">fasdfas</p>
    </div>
    <p>enabled</p>
    <p>status</p>
    <p>view readings</p>
</mat-card>