.heading {
    text-align: center;
}

.card {
    width: 300px;
    margin-top: 50px;
    margin-left: 30px;
}

#smart-meter-id {
    text-align: center;
}

.create-smart-meter {
    position: relative;
    left: 110px;
    top: 80px;
}

#create-smart-meter-text {
    position: relative;
    top: 30px;
    right: 60px;
}

.main-container {
    display: table;
}

.card {
    float: left;
    height: 280px;
}

.readings-button {
    margin-left: 130px;
    margin-bottom: 30px;
}