input.ng-invalid.ng-touched {
    border: 1px solid red;
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 112, 112, 0.737);
}

.main-container {
    display: flex;
}

.row-container {
    height: 100vh;
    padding-top: 50px;
    margin-left: 100px;
}

.right-container {
    width: 500px;
}

#login-button {
    margin-top: 20px;
    width: 300px;
    background-color: black;
    border-color: white;
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.form-group,
.form-check {
    margin-top: 20px;
}

.form-control {
    width: 300px;
}

.form-control:focus,
.form-select:focus {
    border-color: black;
    /* border-top: none !important; */
    box-shadow: 0 0 0 0.2rem rgb(162, 162, 162);
}

#show-password-icon {
    position: relative;
    bottom: 30px;
    left: 260px;
    cursor: pointer;
}

#forgot-password-link {
    text-decoration: none;
    margin-left: 150px;
}

.alert {
    width: 300px;
    position: absolute;
    top: 530px;
    left: 920px;
}

.error {
    position: relative;
    top: 5px;
    color: red;
}